@charset "utf-8";

#opcoes{
    background-color: gray;
    text-align: center;
}

#playButton{
    padding: 0px;
    text-align: center;
}

#placarPlayer,#placarComputer{
    margin-top: 5px;
    width: 50px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid black;
}

#player{
    background-color: rgb(93, 100, 100);
    padding: 0px;
    text-align: center;
}

#imagemPlayer, #imagemComputador{
    width: 60%;
    height: 400px;
}

#computer{
    background-color: rgb(221, 221, 221);
    padding: 0px;
    text-align: center;
}