@charset "utf-8";

#opcoes{
    background-color: rgb(2, 209, 71);
    text-align: center;
    border-radius: 20px;
    justify-content: center;
}

#playButton{
    padding: 0px;
    text-align: center;
}

#placarNames{
    text-align: left;
    /* padding-left: 1%; */
    margin-top: 3%;
}

#placarValues{
    text-align: left;
    margin-top: 3%;
}

#nome{
    color: white;
    font-family: monospace;
    font-size: 120% auto;
}

#placarPlayer,#placarComputer{
    margin-top: 5px;
    width: 50px;
    text-align: center;
    border-radius: 6px;
    /* border: 1px solid black; */
}

#player{
    background-color: rgb(2, 209, 71);
    padding: 0px;
    text-align: center;
}

#imagemPlayer, #imagemComputador{
    width: 60%;
    height: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

#computer{
    background-color: rgb(2, 209, 71);
    padding: 0px;
    text-align: center;
}

#jogada{
    padding: 1%;
    text-align: center;
    justify-content: center;
}

#imagem{
    border-radius: 30px;
    width: 18%;
    height: 18%px;
    border: 0px;
    padding: 0px;
}

#jogar{
    color: white;
    font-family: monospace;
    font-style: italic;
    padding:0% 12% 0% 12%;
    margin: 3px;
    border:2px solid black;
    border-radius: 50px;
    background-color: rgb(2, 209, 71);
}


