@charset "utf-8";

#opcoes{
    background-color: rgb(2, 209, 71);
    text-align: center;
}

#playButton{
    padding: 0px;
    text-align: center;
}

#placarNames{
    text-align: left;
    padding-left: 1%;
    margin-top: 3%;
}

#placarValues{
    text-align: left;
    padding-left: 2%;
    margin-top: 3%;
}

#nome{
    color: white;
    font-family: monospace;
    font-size: 120%;
}

#placarPlayer,#placarComputer{
    margin-top: 5px;
    width: 50px;
    text-align: center;
    border-radius: 6px;
    /* border: 1px solid black; */
}

#player{
    background-color: rgb(93, 100, 100);
    padding: 0px;
    text-align: center;
}

#imagemPlayer, #imagemComputador{
    width: 60%;
    height: 380px;
}

#computer{
    background-color: rgb(221, 221, 221);
    padding: 0px;
    text-align: center;
}

#jogada{
    padding: 1%;
    text-align: end;
}

#imagem{
    border-radius: 50px;
    width: 20%;
    height: 200px;
    border: 0px;
    padding: 0px;
}

#jogar{
    font-family: monospace;
    font-style: italic;
    padding:0% 12% 0% 12%;
    margin: 3px;
    border:2px solid black ;
    border-radius: 50px;
    background-color: rgb(2, 209, 71);
}
